body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 90%;
}

.badge a {
  color:white;
  text-decoration: none;
  font-family: sans-serif; font-size: small;
}
.badge a:hover {
  color:rgb(214, 252, 0);
}